@model Shaska.Models.IndexViewModel
@{
    ViewBag.Title = "Your Account Details";
}

<h2 style="color:green">@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

@using (Html.BeginForm("Edit", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>User Name:</dt>
        <dd>
            @Model.User.FirstName @Model.User.LastName
        </dd>
        <dt>Birthday:</dt>
        <dd>
            @Model.User.Birthday
        </dd>
        <dt>Cell Number:</dt>
        <dd>
            @Model.User.CellNumber
        </dd>
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.
             
             See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
             
             Uncomment the following block after you have set up two-factor authentication
        *@
        @*  
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Change", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Remove", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Add", "AddPhoneNumber")
                }
                ]
            </dd>
        *@
      
    </dl>
    @Html.HiddenFor(m => m.User.FirstName)
    @Html.HiddenFor(m => m.User.LastName)
    @Html.HiddenFor(m => m.User.CellNumber)
    @Html.HiddenFor(m => m.User.Birthday)
    @Html.HiddenFor(m => m.User.Email)
 <button type="submit" class="btn">Edit</button>
</div>
}